$blue: #284d62;
$primary: $blue;
$title-color: $blue;
$label-color: $blue;

@import '~bulma';

body {
  background: rgb(202,224,224);
  background: linear-gradient(150deg, rgba(202,224,224,1) 0%, rgba(241,217,212,1) 60%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 3rem;
}

.message-field {
  height: 100%;

  .control {
    height: inherit;

    .textarea {
      height: calc(100% - 2rem);
    } 
  }
}